.button-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button {
  transition: opacity 1s ease;
  color: white;
  background-color: black;
  padding: 10px 50px;
  border-radius: 40px;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.custom-button:hover {
  background-color: #ff7e5f;
}

.custom-button.visible {
  opacity: 1;
}
